# WordPress Core
/wp-admin/
/wp-includes/
/wp-config.php
.htaccess

# User uploads
wp-content/uploads/
wp-content/cache/

# Logs and debug files
debug.log
*.log

# OS or Editor-specific files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# Dependency directories
vendor/
node_modules/
