# WordPress Core
/wp-admin/
/wp-includes/
/wp-config.php
.htaccess

# User uploads
wp-content/uploads/
wp-content/cache/

# Third-party plugins and themes
wp-content/plugins/*
!wp-content/plugins/<your-plugin-name>/
wp-content/themes/*
!wp-content/themes/<your-theme-name>/

# Logs and debug files
debug.log
*.log

# OS or Editor-specific files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# Dependency directories
vendor/
node_modules/
